.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(45deg,#ffa500,#ffff00);
}
.cat2{
    background-image: linear-gradient(45deg,#800080,#da70d6);
}
.cat3{
    background-image: linear-gradient(45deg,#0000FF,#00FFFF);
}
.cat1 ,.cat2 ,.cat3{
    padding: 20px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}